{
  // Don't convert modules to CommonJS
  // Let rollup do its thing.
  // https://rollupjs.org/guide/en#babel
  "presets": [
    ["env", {
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    // Needed for instanceof to work with Error subclasses
    // https://stackoverflow.com/a/33877501/1157536
    ["babel-plugin-transform-builtin-extend", {
        globals: ["Error"]
    }]
  ],
  // Overrides for Jest
  // Jest runs in node, so transpile
  // imports to requires
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
