.Footer a, .u-markdown a {
  color: #001b44; /* navy */
}
.Footer a:hover, .u-markdown a:hover {
  color: #00449e; /* dark-blue */
}

.Footer a {
  text-decoration: none;
}

.min-vh-75 {
  min-height: 75vh;
}
